.gun-circle{
    height: 30px;
    width: 30px;
    border: 1px solid black;
    background-color: rgba(0, 255, 255, 0.215);
    border-radius: 50%;
}
.gun-circle:hover{
    background-color: aqua;
}
.gun-firing{
    animation: gun-firing-color 1.5s linear 1;
}

@keyframes gun-firing-color {
    from {background-color: blue;}
    to {background-color: aqua;}
  }